@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* #endregion  /**======== Primary Color =========== */

  --color-navy-default: #0a192f;
  --color-navy-dark: #020c1b;
  --color-navy-light: #112240;
  --color-navy-50: #233554;
  --color-navy-shadow: rgba(2, 12, 27, 0.7);

  --color-slate-default: #8892b0;
  --color-slate-dark: #495670;
  --color-slate-light: #a8b2d1;
  --color-slate-50: #ccd6f6;
  --color-white: #e6f1ff;
  --color-green: #64ffda;
  --color-green-tint: rgba(100, 255, 218, 0.1);
  --color-pink: #f57dff;
  --color-blue: #57cbff;
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Calibre/Calibre-Regular.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Calibre/Calibre-Medium.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Calibre';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/Calibre/Calibre-MediumItalic.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre-MediumItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Calibre';
    font-style: 'normal';
    font-weight: 600;
    src: url('/fonts/Calibre/Calibre-Semibold.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre-Semibold.woff') format('woff');
  }

  @font-face {
    font-family: 'Calibre';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/Calibre/Calibre-SemiboldItalic.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre-SemiboldItalic.woff') format('woff');
  }

  /* monosan */
  @font-face {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/SFMono/SFMono-Regular.woff2') format('woff2'),
      url('/fonts/SFMono/SFMono-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'SF Mono';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2'),
      url('/fonts/SFMono/SFMono-RegularItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/SFMono/SFMono-Medium.woff2') format('woff2'),
      url('/fonts/SFMono/SFMono-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'SF Mono';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2'),
      url('/fonts/SFMono/SFMono-MediumItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'SF Mono';
    font-style: 'normal';
    font-weight: 600;
    src: url('/fonts/SFMono/SFMono-Semibold.woff2') format('woff2'),
      url('/fonts/SFMono/SFMono-Semibold.woff') format('woff');
  }

  @font-face {
    font-family: 'SFMono';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2'),
      url('/fonts/SFMono/SFMono-SemiboldItalic.woff') format('woff');
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  .big-heading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .transition-custom-all {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  p {
    @apply mb-4;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

@layer components {
  .section {
    @apply py-[60px] md:py-20 lg:py-[100px];
  }

  .section-title {
    @apply flex items-center text-white text-[clamp(26px,5vw,32px)] whitespace-nowrap mt-2.5 mb-10;
  }

  .section-title::before {
    @apply relative bottom-1 content-["0"counter(item)"."] [counter-increment:item_1] text-green mr-2 text-[clamp(16px,3vw,20px)] font-mono;
  }

  .section-title::after {
    @apply content-[""] w-full ml-2.5 h-[1px] bg-navy-50 md:w-[200px] md:ml-5 relative bottom-1;
  }

  .profile-pic {
    box-shadow: 0 10px 30px -15px var(--color-navy-shadow);
    transition: var(--transition);
    @apply block relative w-full h-full rounded-[4px] bg-green;
  }

  .profile-pic::after,
  .profile-pic::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 4px;
    transition: var(--transition);
  }

  .profile-pic::after {
    @apply border-2 border-solid border-green top-5 left-5 -z-[1];
  }

  .profile-pic::before {
    @apply top-0 left-0 bg-navy mix-blend-screen;
  }

  .profile-pic:hover::after {
    @apply top-3 left-3;
  }

  .profile-pic:hover .wrapper {
    filter: none;
    mix-blend-mode: normal;
  }

  .profile-pic .wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
    overflow: hidden;
  }
}
